* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


html,
body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/home-indoor-design-concept.jpg);
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

section#telephone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 23px;
    width: 269px;
    height: 471px;
}

section#social-media img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
    box-sizing: border-box;
}


section#social-media img:hover {
    border: 2px solid black;
}